* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* TELA */

.game-board {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;

    background: #37b5ff;
}

/* NUVENS */

.nuvem {
    position: absolute;
    width: 220px;
    top: 40px;
    right: -300px;

    animation: nuvem-animation 20s infinite linear;
}

.nuvem2 {
    position: absolute;
    width: 180px;
    top: 120px;
    right: -300px;

    animation: nuvem-animation 30s infinite linear;
}

/* PALMEIRAS */

.palmeira {
    position: absolute;
    bottom: 90px;
    right: 250px;
    width: 140px;

    z-index: 1;
}

.palmeira2 {
    position: absolute;
    bottom: 90px;
    right: 700px;
    width: 170px;

    z-index: 1;
}

/* GRAMA */

.grama {
    position: absolute;
    bottom: 90px;
    width: 100%;
    height: 15px;

    background: #5cff00;

    border-top: 5px solid #a8ff60;

    z-index: 2;
}

/* CHÃO */

.chao {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;

    background-color: #a14f00;

    background-image:
    linear-gradient(45deg, #6b2f00 25%, transparent 25%),
    linear-gradient(-45deg, #6b2f00 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #c96a16 75%),
    linear-gradient(-45deg, transparent 75%, #c96a16 75%);

    background-size: 40px 40px;

    z-index: 0;
}

/* SONIC */

.sonic {
    position: absolute;

    /* AGORA ELE PISA NA LINHA VERDE */
    bottom: 78px;

    left: 50px;
    width: 110px;

    z-index: 3;
}

/* ESPINHO */

.espinho {
    position: absolute;

    bottom: 78px;

    width: 70px;
    right: -80px;

    animation: espinho-animation 2s infinite linear;

    z-index: 3;
}

/* PULO */

.jump {
    animation: jump 500ms ease-in-out;
}

/* ANIMAÇÕES */

@keyframes espinho-animation {

    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes nuvem-animation {

    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 78px;
    }

    40% {
        bottom: 230px;
    }

    50% {
        bottom: 230px;
    }

    60% {
        bottom: 230px;
    }

    100% {
        bottom: 78px;
    }
}
